.widget {
  flex: 0.2;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-right: 20px;
  margin-top: 0%;
  border: 1px solid lightgray;
  border-radius: 10px;
  max-height: 65vh;
  background-color: #0d183ef6;
}

.widget__header {
  border-bottom: 1px solid #a3b3d3;
}

.widget__header > h5 {
  padding: 15px;
  margin-bottom: 10px;
  color: #a3b3d3;
  font-size: 25px;
  letter-spacing: 1.1px;
}
.widget__contents {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 786px) {
  .widget {
    display: none;
  }
}
